/* campus stellae  */

@keyframes estrellae {
  0% {
    top: 50%;
    scale: 0%;
  }
  100% {
    top: 100%;
    scale: 100%;
  }
}

.estrella-angle {
  position: absolute;
  height: 70vw;
  width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #estrella {
  width: 50vw;
  height: 20vh;
  overflow: hidden;
} */
.estrella {
  position: absolute;
  overflow: hidden;
  top: 10%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.25);
  animation: estrellae cubic-bezier(0.96, 0.04, 0.75, 0.033) infinite;
}
