/* campus stellae  */

@keyframes estrellae {
  0% {
    top: 50%;
    scale: 5%;
    opacity: 0;
  }
  2% {
    opacity: 100;
  }
  100% {
    top: 100%;
    scale: 100%;
  }
}

.estrella-angle {
  position: absolute;
  height: 70vw;
  width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#campus-stellae {
  width: 100%;
  height: 20vh;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
.estrella {
  position: absolute;
  overflow: hidden;
  top: 0%;
  width: 4px;
  height: 10px;
  border-radius: 50%;
  opacity: 0;
  filter: blur(0.5px);
  background-color: rgba(0, 0, 0, 0.25);

  animation: estrellae cubic-bezier(0.95, 0.8, 0.5, 0.025) infinite;
}
