@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* background: rgb(64, 137, 139); */
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Particles */

.anime-container {
  position: absolute;
  left: 0;
  top: -175px;
  width: 200px;
  height: 200px;
}

.anime-container .dot {
  position: absolute;
  border-radius: 50%;
  background-color: hsl(100, 100%, 100%);
  min-width: 2px;
  min-height: 2px;
}

.cat-link a {
  transition: all 0.5s ease;
  padding-left: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.cat-link:hover a {
  padding-left: 2em;
}
.cat-link:hover:before {
  content: ">";
}
