@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* background: rgb(64, 137, 139); */
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cat-link a {
  transition: all 0.5s ease;
  padding-left: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.cat-link:hover a {
  padding-left: 2em;
}
.cat-link:hover:before {
  content: ">";
}

/* campus stellae  */

@keyframes estrellae {
  0% {
    top: 50%;
    scale: 0%;
  }
  100% {
    top: 100%;
    scale: 100%;
  }
}

.estrella-angle {
  position: absolute;
  height: 50vh;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.estrella {
  position: absolute;
  top: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.25);
  animation: estrellae cubic-bezier(0.96, 0.04, 0.75, 0.033) infinite;
}

/* Lists */
ul {
  list-style: none;
}
